<h2>User info</h2><br>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table font-weight-bold">
    <tr><th>name</th><td><%= user.name %></td></tr>
    <tr><th>introduction</th><td><%= user.introduction %></td></tr>
    <tr><th>フォロー数</th><td><%= link_to user.following.count, user_following_path(user) %></td></tr>
    <tr><th>フォロワー数</th><td><%= link_to user.followers.count, user_followers_path(user) %></td></tr>
  </table>
    <% if current_user.id == user.id %>
      <%= link_to edit_user_path(user.id) do%>
        <button type="button" class="btn btn-outline-secondary btn-sm w-100">
          <i class="fas fa-user-cog"></i>
        </button>
      <% end %>
    <% else %>
      <% if current_user.following?(user) %>
        <%= link_to "フォロー外す", user_relationships_path(user), method: :delete, class: "btn btn-info" %>
          <% else %>
        <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-success" %>
      <% end %>
    <% end %>
    <div class="chat-btn">
    <% if current_user != user %>
      <%= link_to 'Chatを始める', chat_path(user.id) %>
    <% end %>
    </div>