<h2>User info</h2><br>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table">
    <tr><th>name</th><td><%= user.name %></td></tr>
    <tr><th>introduction</th><td><%= user.introduction %></td></tr>
  </table>
  <% if user == current_user %>
    <%= link_to edit_user_path(user.id) do%>
      <button type="button" class="btn btn-outline-secondary w-50">
        <i class="fas fa-user-cog"></i>
      </button>
    <% end %>
  <% else %>
    <%= link_to user_path(current_user) do%>
      <button type="button" class="btn btn-outline-secondary w-50">
        <i class="fas fa-user-cog"></i>
      </button>
    <% end %>
  <% end %>