<h2><%= @user.name %>さんとのチャット</h2>

<%= form_with model: @chat, local: true do |f| %>
    <%= f.text_field :message %><br>
    <%= f.hidden_field :room_id, :value => @room.id %> <!-- @room.idに指定した。-->
    <%= f.submit %>
<% end %>

<div>
<% @chats.each do |chat| %>
<%= chat.message %>
<% end %>
</div>