<h1>User info</h1>
  <p>no image</p>
  <h4>name</h4>
  <h4>introduction</h4>
<%= link_to "編集ロゴ", "#" %>

<h1>New book</h1>
<%= form_for(@book) do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opinion %>
  <%= f.submit "Create Book" %>
<% end %>