<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'users/list', user: @user %>
      <%= render 'books/list', book: @new_book %>
    </div>
    <div class="col-lg-8">
      <div class="book-detail">
        <h2>Book detail</h2>
        <table class="table table-sm">
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' %></td>
            <td><%= link_to @book.title, user_path(@user.id) %></td>
            <td><%= @book.opinion %></td>
            <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger btn-sm" %></td>
            <% end %>
           </tr>
            <td style="border:none;"><%= link_to @book.user.name, user_path(@user.id) %></td>
        </table>
        </div>
    </div>
  </div>
</div>